SUPABASE_KEY=""
DOMAIN_URL=""
PUBLIC_DOMAIN_URL="http://localhost:5173"
NODE_ENV="http://localhost:5173"

COOKIE_SECRET=""

KEYCLOAK_REALM=""
KEYCLOAK_CLIENT_ID=""
KEYCLOAK_CLIENT_SECRET=""
KEYCLOAK_DOMAIN=localhost:8080
